[type="search"]{width:100%;height:calc(1.5em + .75rem + 2px);padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;border:1px solid #ced4da;border-radius:.25rem;}
@media(min-width:768px)
{
h1{font-size:1.5rem;}
h2{font-size:1.4rem;}
h3{font-size:1.3rem;}
h4{font-size:1.2rem;}
h5{font-size:1.1rem;}
h6{font-size:1.0rem;}
.display-1{font-size:1.5rem;font-weight:300;line-height:1.2;}
.display-2{font-size:1.4rem;font-weight:300;line-height:1.2;}
.display-3{font-size:1.3rem;font-weight:300;line-height:1.2;}
.display-4{font-size:1.2rem;font-weight:300;line-height:1.2;}
}
@media(max-width:768px)
{
h1{font-size:1.35rem;}
h2{font-size:1.30rem;}
h3{font-size:1.25rem;}
h4{font-size:1.20rem;}
h5{font-size:1.15rem;}
h6{font-size:1rem;}
.display-1{font-size:1.35rem;font-weight:300;line-height:1.2;}
.display-2{font-size:1.30rem;font-weight:300;line-height:1.2;}
.display-3{font-size:1.25rem;font-weight:300;line-height:1.2;}
.display-4{font-size:1.20rem;font-weight:300;line-height:1.2;}
}
a{color:#00397B;}
a, a:hover, a:focus, a:active {text-decoration: none;}
h3.page-header.item-title {font-size: 16px;padding-top: 16px;padding-bottom: 16px;}
td.list-title {padding: 1rem;}
.jumbotron.p-4.p-md-5.text-white.rounded.bg-dark.align-self-center.img-fluid.lazyloaded{background-size:cover;background-position-x:center;background-position-y:center;}
.bd-placeholder-img{font-size:1.125rem;text-anchor:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
@media (min-width:768px){.bd-placeholder-img-lg{font-size:3.5rem;}}
@media (min-width:768px){.card-img-right{height:100%;border-radius:0 3px 3px 0;}}.flex-auto{-ms-flex:0 0 auto;flex:0 0 auto;}.h-250{height:250px;}
@media (min-width:768px){.h-md-250{height:250px;}}
.navbar .nav-item .nav-link{color:#fff;}
.sticky-top.d-none.d-sm-block{z-index: 1030;}
.btn-primary{color: #fff;background-color: #00397b;border-color: #00397b;}
.btn-dark{color: #fff;background-color: #000000;border-color: #000000;}
.sticky-top.py-5.col-sm-12.col-md-4{top:48px;}
fieldset.phrases{display: none;}
fieldset.only{display: none;}
img{max-width:100%;}
.banneritem{width:336px;}
.bannergroup{width:336px;}
.result-text { display: none; }
.pagination ul li{display: inline;padding: 0px 10px 0px 10px;}
ul.pager.pagenav {display: flex;list-style: none;justify-content: space-between;padding: 30px 0 0 0;}
li.previous {color: #fff;background-color: #00397b;border-color: #00397b;padding: 10px 10px 10px 10px;}
li.next {color: #fff;background-color: #00397b;border-color: #00397b;padding: 10px 10px 10px 10px;}
a.hasTooltip {color: #fff;}